.box {
    border: 50px;
    border-style: solid;
    border-color: red;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 20px;
    
}
.green {
    border-color: #d35400;
    margin: 20px;
    display: none;

}
.blue {
    border-color: blue;
    margin: 20px;
}